<!DOCTYPE html>
<html lang="fr">

<body>

    <div>
        <h1>Bot List</h1>
        <ul>
            <% chatbotlist.forEach(function(bot) { %>
                <li>
                    <div style="display: flex;">
                        login : <%= bot.login %>
                        nom : <%= bot.name %>    

                    </div>

                    <form action="/chat/<%= bot.name %>" method="post">
                        <input type="hidden" name="login" value="<%= bot.login %>" />
                        <input type="hidden" name="name" value="<%= bot.name %>" />
                        <input type="hidden" name="isFirstAccess" value="yes" />
                        <input type="submit" value="chat" />
                    </form>

                    <p>

                </li>
            <% }); %>
        </ul>
    </div>

</body>

</html>