<!DOCTYPE html>
<html lang="fr">

<body>

    <div>
        <h1>Bot List</h1>
        <ul>
            <% chatbotlist.chatbots.forEach(function(bot) { %>
                <li>
                    <div style="display: flex;">
                        id : <%= bot.id %>
                        nom : <%= bot.nom %>    

                    </div>

                    <form action="/chat/<%= bot.id %>" method="post">
                        <input type="hidden" name="id" value="<%= bot.id %>" />
                        <input type="hidden" name="nom" value="<%= bot.nom %>" />
                        <input type="submit" value="chat" />
                    </form>

                    <p>

                </li>
            <% }); %>
        </ul>
    </div>

</body>

</html>