<%- include("header.ejs"); %>
  <a href="/" class="btn-lg" style="padding: .0rem 0rem;">Retour</a>
  <main>
    <% var Jchatbot=JSON.parse(chatbot);%>
      <div class="card mb-3">
        <h5 class="card-header">
          <%=Jchatbot.name %>
        </h5>

        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <h5 class="font-italic">
              Interface de communication
            </h5>
            </br>
            <form method="post" action="http://localhost:3000/chat/<%=Jchatbot.name%>" class="card-text">
              <div class="form-group">
                <label for="login">Login :</label>
                <input type="hidden" name="name" value=<%=Jchatbot.name %>>
                <input type="hidden" name="status" value="firstAccess" />
                <input type="text" name="login" class="form-control">
              </div>
              <input type="submit" value="Ouvrir" class="btn btn-light">
            </form>
          </li>

          <li class="list-group-item">
            <h5 class="font-italic">
              Etat Discord : <%=Jchatbot.etat %>
            </h5>
            </br>
            <% if(Jchatbot.etat!=="discord actif" ){%>
              <form method="post" action="/discord/connect" class="card-text">
                <div class="form-group">
                  <label for="token">Token :</label>
                  <input type="text" name="token" class="form-control">
                  <input type="hidden" name="name" value=<%=Jchatbot.name %>>
                </div>
                <input type="submit" value="Connecter à discord" class="btn btn-light">
              </form>
              <% }else{ %>
                <form method="post" action="/discord/disconnect" class="card-text">
                  <div class="form-group">
                    <input type="hidden" name="name" value=<%=Jchatbot.name %> >
                  </div>
                  <input type="submit" value="Déconnecter de discord" class="btn btn-danger">

                </form>
                <% }%>
          </li>

          <li class="list-group-item">
            <h5 class="font-italic">
              Cerveaux : <%=Jchatbot.brains %>
            </h5>
            </br>
            <%var Jfiles=JSON.parse(files); if(Jfiles.length>0){%>
              <form method="post" action="/gerer/addBrain" class="card-text">
                <div class="form-group">
                  <label for="brain">Fichier :</label>
                  <select name="brain" class="form-control">
                    <% for (var i=0; i < Jfiles.length; i++) { %>
                      <option value=<%=Jfiles[i] %>><%=Jfiles[i]%>
                      </option>
                      <%} %>
                  </select>
                  <input type="hidden" name="name" value=<%=Jchatbot.name %>>
                </div>
                <input type="submit" value="Ajouter le cerveau" class="btn btn-light">
              </form>
              <%}%>
          </li>

          <li class="list-group-item">
            <h5 class="font-italic">
              Infos utilisateur
            </h5>
            <%for(var i=0;i < Jchatbot.login.length;i++){ %>
          <li>
            <%=Jchatbot.login%>
              <%=Jchatbot.uservars%>
          </li>
          <%} %>

            </li>
            <li class="list-group-item">
              <form method="post" action="/gerer/delete" class="card-text">
                <div class="form-group">
                  <input type="hidden" name="name" value=<%=Jchatbot.name %>>
                  <input type="submit" value="Supprimer le chatbot" class="btn btn-danger">
                </div>
              </form>
            </li>
        </ul>
      </div>
  </main>
  <%- include("footer.ejs"); %>