<%- include("./common/header.ejs"); %>

  <h1 style="text-align: center;">
    Gestionnaire de <%=title%>
  </h1>
  <main>
    </br>
    <h5 class="">Créer un ChatBot</h5>
    <div class="card mb-3">
      <div class="card-body">
        <form method="post" class="card-text" action="/gerer/creer">
          <div class="form-group">
            <label for="name">Nom du ChatBot :</label>
            <input type="text" class="form-control" name="name" />
            <p class="inred"><%=msg%></p>
          </div>
          <input type="submit" value="créer" class="btn btn-light">
        </form>
      </div>
    </div>
      <%var Chatbots=JSON.parse(chatbots);
      var logins = [];
      for(var i=0; i < Chatbots.length; i++) { 
        for(var j = 0;j < Chatbots[i].login.length; j++){
          if(logins.indexOf(Chatbots[i].login[j]) === -1){
            logins.push(Chatbots[i].login[j]);
          }
        }
      }
      if(logins.length>0){%>
        <h5 class="">Voir les infos d'un utilisateur</h5>
        <div class="card mb-3">
          <div class="card-body">
            </br>
            <form method="post" action="/login" class="card-text">
              <div class="form-group">
                <label for="login">Utilisateur :</label>
                <select name="login" class="form-control">
                  <% for (var i=0; i < logins.length; i++) { %>
                    <option value=<%=logins[i] %>><%=logins[i]%>
                    </option>
                    <%} %>
                </select>
              </div>
              <input type="submit" value="Voir" class="btn btn-light">
            </form>
          </div>
        </div>
    <%}if(Chatbots.length>0){ %>
      <h5 class="">Mes ChatBots</h5>

      <div class="d-flex align-content-start flex-wrap">

        <%} for (i=0; i < Chatbots.length; i++) { %>
          </br>
          <div class="card mb-3" style="max-width: 18rem;">
            <h5 class="card-header ">
              <%=Chatbots[i].name%>
            </h5>
            <div class="card-body text-secondary">
              <ul class="list-group"></ul>
              <li class="list-group-item">Etat de l'interface discord :
                <% if(Chatbots[i].etatDiscord===0 ){%>
                  Non connecté
                <%}else if(Chatbots[i].etatDiscord===-1 ){%>
                  Dernier essai de connection échoué, non connecté
                <%}else if(Chatbots[i].etatDiscord===2 ){ %>
                  Connecté
                <%} %>
              </li>
              <li class="list-group-item">Cerveaux : <%=Chatbots[i].brains%>
              </li>
              <li class="list-group-item">Utilisateurs :
                <% for(j=0;j < Chatbots[i].login.length;j++){%>
                <%=Chatbots[i].login[j]%>, 
                <%}%>
              </li>
              </ul>
              </div>
              <div class="card-footer bg-transparent">
                <form method="post" action="/gerer/chatbot">
                  <input type="hidden" name="name" value=<%=Chatbots[i].name%> >
                  <input type="submit" value="Voir plus" class="btn btn-link">
                </form>
              </div>
              </div>
          <%} %>
      </div>
  </main>
  <%- include("./common/footer.ejs"); %>