<%- include("header.ejs"); %>

  <h1>Chatbots</h1>
  <p>
    Gestionnaire de  <%=title%>
  </p>
<main>

  <div class="card mb-3">
      <h5 class="card-header">Créer un ChatBot</h5>
      <div class="card-body">
      <form method="post" class="card-text" action="/gerer/creer">
        <div class="form-group">
          <label for="name">Nom du ChatBot</label>
          <input type="text" class="form-control" name="name" />
        </div>
        <div class="form-group">
          <label for="login">Login</label>
          <input type="text" class="form-control" name="login" />
        </div>
          <input type="submit" value="créer" class="btn">

      </form>
    </div>
  </div>
  <div class="d-flex align-content-start flex-wrap">
         <%
var Chatbots= JSON.parse(chatbots);

for (var i = 0; i < Chatbots.length; i++) {
%>
</br>
<div class="card border-secondary mb-3" style="max-width: 18rem;">
	<h5 class="card-header">
		<%=Chatbots[i].name%>
	</h5>
	<div class="card-body text-secondary">
<ul class="list-group"></ul>
<li class="list-group-item">Login : <%=Chatbots[i].login%></li>
<li class="list-group-item">Etat : <%=Chatbots[i].etat%></li>
<li class="list-group-item">Brains : <%=Chatbots[i].brains%></li>
</ul>
</div>
<div class="card-footer bg-transparent border-success">
  <a href="">Voir plus</a>
</div>
</div>

<%}
%>
</div>
</main>
  <%- include("footer.ejs"); %>